body{ background-color:darksalmon;
margin: 0px;
}
.logo{
    max-width: 100px;
    display: block;
    margin: auto;
}
.navigation{
    text-align:right;
    background-color: brown;
}
.header{
    background-color:rgb(245, 138, 99);
}
.navigation a {
    color:beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    display: inline-block;
    padding: 10px;
    text-decoration: none;

}

.banner{
            /* vh = viewport height = windows height*/
    min-height: 50vh;
    background-image: url("tea.jpg");
    Background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.banner h1{

text-align: center;
margin: 0px;
padding: 5vh;
color: rgb(255, 255, 255);
font-size: 4em;
text-shadow: 2px 2px 5px darksalmon;
}